@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .layout {
    max-width: 64rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#4338ca, #4338ca);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in-out;
  }

  .link-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%;
  }
}

@layer base {
  #resume * a {
    @apply hover:text-cyan-500 hover:underline;
  }
  #resume * a:not(.italic) {
    @apply w-max underline print:no-underline;
  }

  [x-cloak] {
    display: none !important;
  }
}
